.row.menu-margin
  %header
    = image_tag("logo.png", :class=>"logo")
    %nav.pull-right
      %ul
        %li
          %a{:href => "#"} About
        %li
          %a{:href => "#"} The Process
        %li
          %a{:href => "/signin"} Login
        %li
          %a{:href => "/home", :class=>"active"}
            = image_tag("active-pencil.png", :width=>"15px")
            Sign Up
