.row.menu-margin
  %header
    = image_tag("logo.png", :class=>"logo")
    %nav.pull-right
      %ul
        %li
          %a.normal{:href => "#"} About
        %li
          %a.normal{:href => "#"} The Process
        %li
          %a.normal{:href => "/signin"} Login
        %li
          %a.active{:href => "/home"} Sign Up
