.row.menu-margin
  %header
    %a#tutonic.pull-left{:href => "/home"} Tu·ton·ic
    %nav.pull-right
      %ul
        %li
          %a{:href => "#"} About
        %li
          %a{:href => "#"} The Process
        %li
          %a{:href => "/signin"} Login
        %li
          %a{:href => "/home", :class=>"active"}
            = image_tag("pencil.png", :width=>"15px")
            Sign Up
