= image_tag("pencil.png")
.font-header
  Sign Up for Tutonic

= image_tag("fb-connect.png")
.des-text * We don't post anything without your permission.
%table.table-span
  %tr 
    %td
      %div.line
    %td.or-text OR
    %td
      %div.line
.clear
= link_to "Create an account using my email address", "#",:class => "option-text"
%center
  .home-div
    .box
      %div.in-box
        .btn-link.pull-left Already a Tutonic member?
        = link_to "Login Now!", "#", :class => "login-text"


