$color: #5EA2B7;
$color-font: #A2BBC5;
$font-type: "Rockwell";
$common-color: #4B5053;

body {
  background-image: url("background.jpg");
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 0px;
  color: $common-color;
}

.margin-fb {
  margin-left: 20px;
  margin-bottom: 10px;
}

.process-span {
  width: 80px;
  margin-left: 0px;
}

.table-span {
  width: 262px;
  margin: 0 0 10px 339px;
}

.remember {
  width: 165px;
  padding-top: 20px;
}

.clear {
  clear:both;
}

.font-header {
  line-height: 18px;
  color: $color-font;
  margin: 10px 0 20px 0;
  font-size: 30px;
  text-align: center;
  font-family: $font-type !important;
}

.or-text {
  font-family: $font-type;
  font-size: 14pt;
  width: 10px; 
  padding: 0 10px;
}

.font-des {
  font-size: 13px;
  margin-bottom: 10px;
  font-family: "Calibri";
}

.footer-text {
  font-family: $font-type;
  font-size: 8pt;
  text-align: center;
}

.line {
  border-top: 1px solid $common-color;
}


.des-text {
  margin-bottom: 7px;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Calibri";
}

.btn-link {
  padding-left: 20px;
  font-size: 15px;
  color: $common-color;
  font-family: $font-type;
}

.in-box {
  height: 47px;
  line-height: 47px;
}

nav {
  padding-top: 30px;
  ul {
    list-style-type: none;
    padding-left: 0;
  
    li {
      float: left;
      padding: 0 5px;
  
      a.normal {
        padding: 4px 16px;
        font-size: 15px;
        color: $common-color;
        font-family: $font-type;
        text-decoration: none;
      }
      a.active {
        color: $color-font;
        font-family: $font-type;
        text-decoration: none;
        background: url("active-pencil.png") no-repeat top left;
        padding-left: 27px;
        padding-top: 9px;
        font-size: 15px;
      }
    }
  }
}
.menu-margin{
  margin-bottom: 55px;
}

.link-lg {
  text-align: left;
  padding-top: 12px;
  padding-left: 3px;
}

a {
  color: $common-color;
  &:visited {
    color: $common-color; 
  }
  &:hover {
    color: $common-color;
    background-color: transparent;
  }
  .option-text {
    margin-bottom: 15px;
    font-size: 12px;
    color: $color !important;
    font-family: "Calibri";
  }
  
}
.login-text {
  font-family: $font-type;
  padding: 0 12px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  background: url("btn-bg.png") repeat-x;
  border: none;
  color: white !important;
  font-size: 18px;
  display: inline-block;
  background-color: transparent;
  float: right;
  margin-top: 4px;
}
.home-div {
  width: 402px;
  margin: 25px 0 48px 0px;  
}
.login-div {
  width: 347px;
  margin: 0 0 48px 0px;
}
.box {
  overflow: visible;
  margin: 10px;
  position: relative;
  background-color: $color !important;
}

.box::before, .box::after {
  opacity: 0.3 !important;
}

.box::before {
  top: -6px;
  left: -6px;
  padding-right: 6px;
  padding-bottom: 6px;
}
.form-padding{
  padding: 10px 10px 10px 0px;
}

.box::before, .box::after {
  margin: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  opacity: inherit;
  position: absolute;
  background-color: inherit;
}

.box::before, .box::after {
  opacity: 0.3 !important;
}

.box::after {
  right: -6px;
  bottom: -6px;
  padding-top: 6px;
  padding-left: 6px;
}

.box::before, .box::after {
  margin: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  opacity: inherit;
  position: absolute;
  background-color: inherit;
}
.input-text {
  width: 296px;
  margin-left: 9px;
}

.logo {
  padding-top: 10px;
  padding-left: 20px;
}

.btn-login {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: $color-font;
  background: -moz-linear-gradient(top, $color-font 0%, $color-font 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color-font), color-stop(2%, $color-font), color-stop(11%, #D8E3E7), color-stop(57%, #A9C2CB), color-stop(60%, #A9C2CB), color-stop(100%, #D7EFF0));
  background: -webkit-linear-gradient(top, $color-font 0%, $color-font 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  background: -o-linear-gradient(top, $color-font 0%, $color-font 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  background: -ms-linear-gradient(top, $color-font 0%, $color-font 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  background: linear-gradient(to bottom, $color-font 0%, $color-font 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-font', endColorstr='#d7eff0',GradientType=0 );
  -webkit-box-shadow: 0 2px 3px #999;
  -moz-box-shadow: 0 2px 3px #999;
  box-shadow: 0 2px 3px #999;
  color: $common-color;
  font-size: 13px;
  padding: 5px 10px;
  display: inline-block;
  font-family: "Calibri";
  border: 1px solid #959595;
  margin-bottom: 15px;
}

.underline {
  text-decoration: underline;
  padding-left: 7px;
}
