body {
  background-image: url("background.jpg");
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 0px;
  color: #4B5053;
  
}

.margin-fb {
  margin-left: 20px;
  margin-bottom: 10px;
}
.process-span {
  width: 80px;
  margin-left: 0px;
}

.table-span {
  width: 262px;
  margin: 0 0 10px 62px;
}
.login-button {
  width: 132px;
  margin: 13px 10px 10px auto;
}

.remember {
  width: 165px;
  padding-top: 20px;
}

.clear {
  clear:both;
}
.font-header {
  line-height: 18px;
  color: #A2BBC5;
  margin: 10px 0 20px 0;
  font-size: 30px;
  text-align: center;
  font-family: "Rockwell" !important;
}
.or-text {
  font-family: "Rockwell";
  font-size: 14pt;
  width: 10px; 
  padding: 0 10px;
}
.font-des {
  font-size: 13px;
  margin-bottom: 10px;
  font-family: "Calibri";
}
a.login-text {
  font-family: "Rockwell";
  padding: 8px 12px;
  text-decoration: none;
  background: url("btn-bg.png");
  border: none;
  color: white !important;
  font-size: 18px;
  display: inline-block;
  background-color: transparent;
}
.footer-text {
  font-family: "Rockwell";
  font-size: 8pt;
  padding-left: 57px;
}
a.option-text {
  margin-bottom: 15px;
  font-size: 12px;
  color: #5EA2B7;
  font-family: "Calibri";
}
.line {
  border-top: 1px solid #4B5053;
}


.des-text {
  margin-bottom: 7px;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Calibri";
}
.btn-link {
  padding-right: 25px;
  padding-left: 20px;
  font-size: 15px;
  padding-top: 8px;
  color: #4B5053;
  font-family: "Rockwell";
}
.in-box {
  padding: 15px 0px;
}

nav {
  padding-top: 30px;
  ul {
    list-style-type: none;
    padding-left: 0;
  
    li {
      float: left;
      padding: 0 5px;
  
      a.normal {
        padding: 4px 16px;
        font-size: 15px;
        color: #4B5053;
        font-family: "Rockwell";
        text-decoration: none;
      }
      a.active {
        color: #A2BBC5;
        font-family: "Rockwell";
        text-decoration: none;
        background: url("active-pencil.png") no-repeat top left;
        padding-left: 27px;
        padding-top: 9px;
        font-size: 15px;
      }
    }
  }
}
.menu-margin{
  margin-bottom: 55px;
}

.link-lg {
  text-align: left;
  padding-top: 12px;
  padding-left: 3px;
}

a {
  color: #4B5053;
  &:visited {
    color: #4B5053; }
  &:hover {
    color: #4B5053;
    background-color: transparent; } 
}

.home-div {
  width: 415px;
  margin: 25px 0 48px 10px;
}
.login-div {
  width: 347px;
  margin: 0 0 48px 20px;
}
.box {
  overflow: visible;
  margin: 10px;
  position: relative;
  background-color: #72B6CB !important;
}
.box::before, .box::after {
  opacity: 0.3 !important;
}

.box::before {
  top: -10px;
  left: -10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.form-padding{
  padding: 10px;
}

.box::before, .box::after {
  margin: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  opacity: inherit;
  position: absolute;
  background-color: inherit;
}

.box::before, .box::after {
  opacity: 0.3 !important;
}

.box::after {
  right: -10px;
  bottom: -10px;
  padding-top: 10px;
  padding-left: 10px;
}

.box::before, .box::after {
  margin: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  opacity: inherit;
  position: absolute;
  background-color: inherit;
}
.input-text {
  width: 296px;
}

.logo {
  padding-top: 10px;
  padding-left: 20px;
}

.btn-login {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #A2BBC5;
  background: -moz-linear-gradient(top, #A2BBC5 0%, #A2BBC5 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A2BBC5), color-stop(2%, #A2BBC5), color-stop(11%, #D8E3E7), color-stop(57%, #A9C2CB), color-stop(60%, #A9C2CB), color-stop(100%, #D7EFF0));
  background: -webkit-linear-gradient(top, #A2BBC5 0%, #A2BBC5 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  background: -o-linear-gradient(top, #A2BBC5 0%, #A2BBC5 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  background: -ms-linear-gradient(top, #A2BBC5 0%, #A2BBC5 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  background: linear-gradient(to bottom, #A2BBC5 0%, #A2BBC5 2%, #D8E3E7 11%, #A9C2CB 57%, #A9C2CB 60%, #D7EFF0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2bbc5', endColorstr='#d7eff0',GradientType=0 );
  -webkit-box-shadow: 0 2px 3px #999;
  -moz-box-shadow: 0 2px 3px #999;
  box-shadow: 0 2px 3px #999;
  color: #4B5053;
  font-size: 13px;
  padding: 5px 10px;
  display: inline-block;
  font-family: "Calibri";
  border: 1px solid #959595;
  margin-bottom: 15px;
}

.align-content {
  padding-top: 20px;
}
.underline {
  text-decoration: underline;
  padding-right: 10px;
}
